<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>

<p class="mt-n1"></p>


  <mat-grid-list cols = "4" rowHeight = "100px">
    <mat-grid-tile 
    [colspan] = "3"
    [rowspan] = "1">1
    </mat-grid-tile>
    <mat-grid-tile 
    [colspan] = "1"
    [rowspan] = "2">2
    </mat-grid-tile>
    <mat-grid-tile 
    [colspan] = "1"
    [rowspan] = "1">3
    </mat-grid-tile>
    <mat-grid-tile 
    [colspan] = "2"
    [rowspan] = "1">4
    </mat-grid-tile>
 </mat-grid-list>

<router-outlet></router-outlet>